<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

    </head>
    <body>
        <div class="class main-content">
            {{>header}}
            <p>This Site was created by Jaydeep. It uses Data from mapbox.com & weatherStack.com!</p>
            <img class="potrait" src="img/robot.png" >
        </div>
        
        {{>footer}}
    </body>
</html>